
@media screen and (max-width: 670px) {
    div{
        margin-left: 27%;

    }
    button{
        background-color: blanchedalmond;
    }
  }

  @media screen and (max-width: 670px) {
    button{
        margin-right: 140px;
    }
  }

.wrapper{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 800px;
    justify-content: center;
    align-items: center;
    /* margin-left: 200px; */
    margin-left: 35%;
    width: 500px;
    background-color: white;
    border-radius: 18px;
    border: 2px black solid;
}

.wrap{
    display: flex;
    flex-direction: column;
    width: 820px;
}